.corzinha{
    background-color: #1f1f1f;
}

.cartinha-conf{
    object-position: -1.5em;
    width: 20em;
}
.cont-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 63em;
}

.cont-2{
    display: flex;
    flex-direction: row;
}

.conf-txt{
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-left: -10em;
}

.div-cartinha{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.ily{
    margin-bottom: 3em;
    text-align: center;
    font-family: 'Poppin-1';
    color: rgb(255, 0, 0);
}

.cartinha-conf-2{
    object-position: -0.5em;
    width: 20em;
}

.txt-3{
    color: rgb(255, 54, 54);
    font-family: 'Poppin-1';
    text-align: center;
}
.txt-4{
    color: rgb(255, 54, 54);
    font-family: 'Poppin-1';
    text-align: center;
}

.txt-section{
    font-family: 'Poppin-1';
    text-align: center;
}

.txt-1{
    color: #fff;
    font-size: 2.5em;
}

.txt-2{
    color: rgb(204, 0, 255);
}